/*=========common css=========*/ 

*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.container{
	max-width: 96rem;
	margin: 0 auto;
	width: 96%;
}

img{
	max-width: 100%;
	height: auto;
}
/*=========Heading=========*/
.header_area{}
#top_menu{
	background: #55415f;
	padding: .5rem 0;
}
.inner_menu{
	overflow: hidden;
}
.top_menu{
	float: right;
}
.top_menu ul{
	margin: 0;
	padding: 0;
}
.top_menu ul li{
	display: inline-block;
	margin-left: 2rem;
}
.top_menu ul li a{
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	
}

/*=========MOBILE MENU===========*/

.mobile-menu span {
    color: #fff;
    font-size: 4rem;
    float: right;
    margin-top: 0;
    display: none;
}
    
.mobile-menu span:hover {
    cursor: pointer;
}

.overlay {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: .5s;
    transition: .5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
}
.overlay a {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #00ced1;
    padding: 1rem 0;
}

.overlay a:hover {
    color: blue;
}
 
.overlay .closebtn {
    position: absolute;
    top: 2rem;
    right: 4.5rem;
    font-size: 6rem;
}

/*===================
	main_menu
===================*/
#main_menu{
	background: #fff;
	padding: 2rem 0;
}
.inner_main{overflow: hidden;}
.logo_area{
	float: left;
}
.main_menu{
	float: right;
}
.main_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.main_menu ul li{
	display: inline-block;
	margin-left: 2rem;
}
.main_menu ul li a{
	color: #000;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}
/*===================
	commen_area
===================*/
#commen_area{
	background: #ebebeb;
	padding: 2rem 0;
}
.inner_comment{overflow: hidden;}
.child_comment{
	width: 48%;
	padding: 1%;
	float: left;
}
.comment_image img:hover{
	opacity: 0.6;
}
.comment_text{margin: 10rem 0 2rem 5rem;}
.comment_text h1{
	font-size: 3.6rem;
	color: #333333;
	margin-bottom: 2rem;
}
.comment_text p{
	font-size: 1.6rem;
	color: #666;
	margin-bottom: 2rem;
}
.comment_text a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	background: #55415f;
	padding: 1rem;
	border-radius: .5rem;
}

/*===================
	commen_area
===================*/
#hero_section{
	background: #fff;
	padding: 3rem 0;
	text-align: center;
}
.inner_hero{overflow: hidden;}
.child_hero{
	width: 23%;
	padding: 1%;
	float: left;
}
.hero_image{
	width: 100%;
	text-align: center;
}
.hero_image img{
	width: 7rem;
}
.hero_text{}
.hero_text h3{
	color: #55415f;
	font-size: 1.8rem;
	margin: 2rem 0;
	border-bottom: .1rem solid #666;
	padding-bottom: 1rem;
}
.hero_text p{
	color: #807d77;
	font-size: 1.4rem;
	margin-bottom: 3rem;
}
.inner_hero h1{
	font-size: 2rem;
	color: #222222;
	
}

/*===================
	work_area
===================*/
#work_area{
	background: #fff;
	padding: 3rem 0;
}
.inner_work{overflow: hidden;}
.child_work{
	width: 23%;
	float: left;
	padding: 1%;
	text-align: left;
}
.work_image{width: 100%}
.work_image img{
	width: 22rem;
	height: 14rem;
	padding: 1.5rem 0;
}
.child_work h3{font-size: 1.8rem;}
.work_text p{
	font-size: 1.4rem;
	padding-bottom: 2rem;
}
.work_text a{
	font-size: 1.5rem;
	color: #55415f;
	text-decoration: none;
	
}


/*===================
	contact_section
===================*/
#contact_section{
	background: #222222;
	padding: 4rem 0;
}
.inner_contact{overflow: hidden;}
.child_contact{
	width: 23%;
	float: left;
	padding: 1%;
}
.child_contact h1{
	font-size: 1.8rem;
	color: #fff;
	margin-bottom: 2rem;
}
.child_contact h3{
	font-size: 1.3rem;
	color: #9f81a9;
}
.child_contact h4{
	font-size: 1.3rem;
	color: #666;
	margin-bottom: 1rem;
}
.child_contact h5{
	font-size: 1.3rem;
	color: #666;
}
.child_contact span{ color: #9f81a9}
.child_contact p{
	font-size: 1.3rem;
	color: #666;
}
.child_contact ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.child_contact ul li{
	display: block;
	margin: .5rem 0;
	background: url(img/next.png) 
	no-repeat left center;
	padding-left: 2rem;
}
.child_contact ul li a{
	color: #9f80a9;
	font-size: 1.5rem;
	text-decoration: none;
	
}
.child_contact form input{
	padding: 2.5%;
	margin: .5rem 0;
	width: 100%;
	border: 0;
	border-radius: .5rem;
}
.child_contact form input[type="submit"]{
	width: 8rem;
	background: red;
}
/*=============social_area=========*/
.social_area li{
	display: inline-block;
	margin: 2rem 0;
}
.social_area li a i{
	color: #fff;
	background: #353535;
	font-size: 1.5rem;
	margin:0 .2rem;
	padding: 1rem;
	border-radius: 50%;
}





